<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/ bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron"><h1>Breaking News</h1></div>
  <table class="table">
    <tr th:each="item :${news}">
      <td th:text="${item.title}">Title</td>
      <td th:text="${item.description}">Description</td>
    </tr>
  </table>
  <form method="POST" th:action="@{/logout}">
    <button class="btn btn-primary" type="submit">Logout</button>
  </form>
</div>
</body>
</html>